body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}
ul li {

  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
}

/*
.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}*/
